<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    
    <module name="BeforeExecutionExclusionFileFilter"/>

    <module name="TreeWalker">
        <module name="AbbreviationAsWordInName"/>
        <module name="AnnotationLocation"/>
        <module name="ArrayTypeStyle"/>
        <module name="AvoidStarImport"/>
        <module name="ClassTypeParameterName"/>
        <module name="CommentsIndentation"/>
        <module name="MagicNumber">
            <property name="ignoreNumbers" value="0, 1, 32"/>
        </module>
        <module name="ConstantName">
            <property name="format" value="^([A-Z][A-Z0-9]*(_[A-Z0-9]+)*)$"/>
        </module>
        <module name="NoWhitespaceBefore"/>
        <module name="NoWhitespaceAfter"/>
        <module name="LambdaParameterName">
        <property name="format" value="^[a-z]([a-zA-Z]+)*$" />
        </module> 
        <module name="LocalVariableName">
            <property name="format" value="^[a-z](_?[a-zA-Z0-9]+)*$"/>
        </module> 
        <module name="OneTopLevelClass"/>
        <module name="Indentation"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>        
    </module>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true" />
    </module>

    <module name="LineLength">
        <property name="fileExtensions" value="java" />
        <property name="max" value="80" />
        <property name="ignorePattern"
            value="^package.*|^import.*|a href|href|http://|https://|ftp://" />
    </module>

</module>
