<!DOCTYPE html>
<html xmlns:th="http//:www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Update teacher</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div th:replace="fragments/general.html :: header"></div>
    </div>
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col col-sm-8 col-md-3">
				<form th:method="POST"
					th:action="@{/teachers/{action}(action = 'add-course')}">
					<div class="row mb-3">
						<div class="col">
							<label for="teacher" class="form-label">Course</label> <input
								class="form-control" name="teacher" id="teacher"
								th:value="${teacher.firstName + ' ' + teacher.lastName}"
								disabled readonly> <input name="teacherId"
								th:value="${teacher.id}" class="visually-hidden">
						</div>
					</div>
					<div class="row mb-3 g-3">
						<div class="col">
							<label for="course" class="form-label">Course</label> <select
								class="form-select" name="courseId" id="course">
								<option th:each="optionCourse: ${allCourses}"
									th:value="${optionCourse.id}" th:text="${optionCourse.name}"></option>
							</select>
						</div>
					</div>
					<div class="row mb-3 g-3">
						<div class="col col-auto">
							<button type="submit" class="btn btn-success">Add course
								to teacher</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>